<html>
<head>
<style>
body {
 
   background-image: url('/static/img/m4.jpg');
  background-repeat: no-repeat;
  color: brown;
  background-size: cover ;
  text-color:blue;
  
  
  
   
}
button[type="submit"]{
	height:60;
	width:120;
}
input[type="radio"] {
	height:15px; 
	width:15px;
}
</style>
</head>

<body>
<center>
<br>
<h1 align='center' >Diabetes Risk Prediction</h1>
<form  action="{{url_for('predict')}}" method="POST">
<br><br><h3>
 <b>&emsp;&emsp;Age   &emsp;&emsp;
<input type="text" name="Age" placeholder="Age" required="required"/><br>
<br>
&emsp;&emsp;Gender &emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <input type="radio" id="male" name="gender" value=1  required="required"><label for="male" >male</label><br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="radio" id="female" name="gender" value=0 required="required"><label for="female" ">female</label>
<br><br>
&emsp;&emsp;Polyuria &emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&nbsp;
<input type="radio" id="Yes" name="Polyuria" value=1 required="required"><label for="Polyuria">Yes</label>
<input type="radio" id="No" name="Polyuria" value=0 required="required"><label for="Polyuria">No</label>
<br><br>&emsp;&emsp;Obesity&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&nbsp;&nbsp;
<input type="radio" id="Yes" name="Obesity" value=1 required="required"><label for="Obesity">Yes</label>
<input type="radio" id="No" name="Obesity" value=0 required="required"><label for="Obesity">No</label>
</br>
<br>
 &emsp;&emsp;Polydipsia&emsp;&emsp;&emsp;&ensp;&ensp;&ensp;&nbsp;
 <input type="radio" id="Yes" name="Polydipsia" value=1 required="required"><label for="Polydipsia">Yes</label>
<input type="radio" id="No" name="Polydipsia" value=0 required="required"><label for="Polydipsia">No</label>
 <br><br>&emsp;&emsp;Itching &emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;
 <input type="radio" id="Yes" name="Itching" value=1 required="required"><label for="Itching">Yes</label>
<input type="radio" id="No" name="Itching" value=0 required="required"><label for="Itching">No</label>
<br></br>
 &emsp;&emsp;sudden weight loss &emsp;
 <input type="radio" id="Yes" name="sudden weight loss" value=1 required="required"><label for="sudden weight loss">Yes</label>
<input type="radio" id="No" name="sudden weight loss" value=0 required="required"><label for="sudden weight loss">No</label>
 <br><br>&emsp;&emsp;Alopecia&emsp;&emsp;&emsp;&emsp; &ensp;&ensp;&ensp;
 <input type="radio" id="Yes" name="Alopecia" value=1 required="required"><label for="Alopecia">Yes</label>
<input type="radio" id="No" name="Alopecia" value=0 required="required"><label for="Alopecia">No</label>
<br><br>
 &emsp;&emsp;weakness&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;
 <input type="radio" id="Yes" name="weakness" value=1 required="required"><label for="weakness">Yes</label>
<input type="radio" id="No" name="weakness" value=0 required="required"><label for="weakness">No</label>
 
 <br><br>&emsp;&emsp;Irritability&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;
 <input type="radio" id="Yes" name="Irritability" value=1 required="required"><label for="Irritability">Yes</label>
<input type="radio" id="No" name="Irritability" value=0 required="required"><label for="Irritability">No</label>
<br></br>
 &emsp;&emsp;Genital thrush&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <input type="radio" id="Yes" name="Genital thrush" value=1 required="required"><label for="Genital thrush">Yes</label>
<input type="radio" id="No" name="Genital thrush" value=0 required="required"><label for="Genital thrush">No</label>
<br><br>
&emsp;&emsp;Polyphagia&emsp;&emsp; &emsp;&emsp;&nbsp;
 <input type="radio" id="Yes" name="Polyphagia" value=1 required="required"><label for="Polyphagia">Yes</label>
<input type="radio" id="No" name="Polyphagia" value=0 required="required"><label for="Polyphagia">No</label>
<br></br>
 &emsp;&emsp;visual blurring&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <input type="radio" id="Yes" name="visual blurring" value=1 required="required"><label for="male">Yes</label>
<input type="radio" id="No" name="visual blurring" value=0 required="required"><label for="visual blurring">No</label>
 <br><br>&emsp;&emsp;muscle stiffness &emsp;&emsp;&nbsp;&nbsp;
 <input type="radio" id="Yes" name="muscle stiffness" value=1 required="required"><label for="muscle stiffness">Yes</label>
<input type="radio" id="No" name="muscle stiffness" value=0 required="required"><label for="muscle stiffness">No</label>
 

</br><br>
 &emsp;&emsp;delayed healing&emsp;&emsp;&nbsp;&nbsp;&nbsp;
 <input type="radio" id="Yes" name="delayed healing" value=1 required="required"><label for="delayed healing">Yes</label>
<input type="radio" id="No" name="delayed healing" value=0 required="required"><label for="delayed healing">No</label>

<br><br> &emsp;&emsp;partial paresis &emsp;&emsp;&emsp;
 <input type="radio" id="Yes" name="partial paresis" value=1 required="required"><label for="partial paresis">Yes</label>
<input type="radio" id="No" name="partial paresis" value=0 required="required"><label for="partial paresis">No</label>
</br>




<b><h1><button type="submit"><b>predict</b></button></h1>
</form>
<h3 style="color:brown;">&emsp;{{prediction_text}}<h3>
</body>
</html>
